<div ng-controller="carController as carctrl" ng-init="carctrl.init()">
  <div class="col-sm-6">
    <form ng-submit="carctrl.addCar()">
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span>Add car</span>
        </div>
      </md-toolbar>
      <md-input-container class="md-block">
        <label>Model</label>
        <textarea name="model" ng-model="car.model" md-maxlength="150" rows="5" md-select-on-focus>
        </textarea>
        <div class="errors" ng-messages="carForm.model.$error" ng-if="!car.model" ng-show="carForm.$submitted || carForm.model.$touched">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Year</label>
        <textarea name="year" ng-model="car.year" md-maxlength="150" rows="5" md-select-on-focus>
        </textarea>
        <div class="errors" ng-messages="carForm.year.$error" ng-if="!car.year" ng-show="carForm.$submitted || carForm.year.$touched">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Millage</label>
        <textarea name="millage" ng-model="car.millage" md-maxlength="150" rows="5" md-select-on-focus>
        </textarea>
        <div class="errors" ng-messages="carForm.millage.$error" ng-if="!car.millage" ng-show="carForm.$submitted || carForm.millage.$touched">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Add car</button>
      </div>
    </form>
  </div>

  <div class="col-sm-6">
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Cars</span>
      </div>
    </md-toolbar>
    <md-table-container>
      <table md-table md-row-select ng-model="selected">
        <thead md-head md-order="query.order">
          <tr md-row>
            <th md-column md-order-by="nameToLower"><span>Model</span></th>
            <th md-column md-numeric>Year</th>
            <th md-column md-numeric>Millage</th>
            <th md-column md-numeric>Remove</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="car" md-on-select="selectedItem" md-on-deselect="deselectedItem" md-select-id="name" md-auto-select ng-repeat="car in cars">
            <td md-cell>[[car.model]]</td>
            <td md-cell>[[car.year]]</td>
            <td md-cell>[[car.millage]]</td>
            <td md-cell>
              <md-button class="md-icon-button md-accent" ng-click="removeItem(car)" aria-label="Delete">
                <i class="glyphicons-icon remove_2"></i>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</div>
